/*
 * This file contains all generic cs(custom) styles which are being used by multiple components. Styles which are being used by
 * a single component are placed inside the style tag in that component.
*/

    /* Start of cs Utility classes*/
.cs-m-rlb-1 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.cs-w-85 {
    width: 80%;
}
.cs-w-70 {
    width: 70% !important;
}
.cs-bt-1 {
    border-bottom: 1px solid #99AAB5;
}
.cs-container-p-0 {
    padding: 0;
    margin: auto;
    width: 100%;
}
    /* End of cs Utility classes*/

/* Styles for Front Site */
/* Still have to put all the styles here, I just decided to do it now*/

/* Authentication Pages style rules START */

.cs-auth-header {
    /*background-color: #29798D;*/
    background-color: #3D2EA8;
}
.cs-brand-btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    color: #fff;
    background-color: #3D2EA8;
    border-color: white;
}
.cs-brand-btn:hover {
    background-color: #261D69;
    border-color: gray;
}
.cs-i-w-same {
    width: 50px;
    font-size: 20px !important;
}
/* Authentication Pages style rules END */

.cs-faq-icon {

}
.how-it-works-icon {
    width: 200px;
    height: 200px;
}
#hero-img {
    width: 100%;
    height: 600px;
}
#hero-text {
    color: #F2C71A;
    font-weight: 600;
    font-family: aktiv-grotesk, sans-serif;
    text-align: center;
    align-self: center;
    z-index: 100;

    position: absolute;
    top: 50%;
    left: 30%;
}

/* END of Front Site Styles */
#category, #platform, #map, #fee, #due_time{

    width: 70%;
}
.cs-inline-w-50 {
    width: 50%;
    display: inline-block;
}

@media (max-width: 576px) {
    .cs-w-100-forced{
        width: 100% !important;
        margin-left: 1rem;
    }
}
.cs-form-darkorange label {
    width: 16%;
    max-width: 22%;
    display: inline-block;
    padding-left: 1.5rem;
    color: darkorange;
    font-weight: 500;
    font-size: 1.1rem;
}
.cs-container {
    display: flex;
    flex-wrap: wrap;
}
.cs-note {
    border-color: #ffc107!important;
    color: #000!important;
    /*background-color: #ffeb3b!important;*/
    background-color: lightslategrey;
    border-bottom: 6px solid #ccc!important;
    border-top: 6px solid #ccc!important;
    margin: 1px !important;
    padding: 1.5rem;
    /*margin-top: 1.5rem;*/
    /*margin-bottom: 1.5rem;*/
    /*margin-left: ;*/
}
.cs-white {
    background-color: ghostwhite;
    color: #F6623C;
}
.cs-stats {
    color: #F6623C;
    text-shadow: 1px 1px 20px #F6623C;
}
.cs-header {
    width: 100%;
}
.cs-footer {
    color: #CCCECF;
    background-color: #343A40;
    /* position: fixed; */
    /* bottom: 0; */
}
.cs-footer-link {
    color: #CCCDCF;
}
.cs-jumbo-white {
    background-color: white;
}
.cs-btn-wrapper{
    text-align: center;
}
.cs-row-mr-0 {
    margin-right: 0;
}
.cs-row-ml-0 {
    margin-left: 0;
}
.cs-pad-0 {
    padding: 0;
}
.cs-fieldset-default {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}
.cs-ul-pagination {
    width: 100%;
    margin-bottom: 0;
}
.pagination {
    /*  This is to prevent it going below the height of nav-bar*/
    position: relative;
    bottom: 50;
}
button:disabled {
    color: #848484;
    background-color: #b4b4b4;
}
.cs-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.cs-span {
    font-family: 'Sriracha', cursive;
    /*margin-right: 1rem;*/
    margin-right: 10%;
    font-size: 14px;
    color: grey;
}
.cs-a {

}
.txt-head {
    color: black;
    font-size: 1.2rem;
    display: inline-block;
    width: 20%;
    padding-left: 2%;
}
.match-block {
    /*width: 70%;*/
    max-width: 100%;
    /* Remove height as it causes problems for smaller screens*/
    /*height: 10vh;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.match-block:hover {
    background-color: #e4e4e4;
}
.cs-btn {
    color: black !important;
}
.cs-reg-btn {
    margin-left: 2%;
}
.cs-btn:hover {
    color: white !important;
}
.cs-margin-0 {
    margin-right: 2px;
}
hr {
    margin: 1px !important;
}
.cs-f-wrap {
  flex-wrap: wrap;
}
.cs-template-btn button {
    color: darkorange;
    /*font-weight: 500;*/
    /*font-size: 1.1rem;*/
    font-size: 1rem;
    margin: 1%;
}

/* FAQ Page styles below */
.cs-col-faq {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.cs-question-container {
    background-color: #EDEDED;
}
.cs-question {
    display: inline-block;
    color: #F65E1D;
    width: 95%;
}
.cs-answer {
    border-bottom: 1px solid #F65E1D;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    /* This to remove the default 16px bottom margin */
    margin-bottom: 0;
}
.vl {
    border-left: 5px solid #F65E1D;
    /*height: 500px;*/
}

/* About US Page styles below*/
.cs-team-bg {
    /*background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));*/
    /*background-color: #3A4F67;*/
	/*background-color: #ffe100;*/
    /*background-color: #FFFF00;*/
    background-color: #282F5B;
}
.cs-team-img {
    width: 80%;
}
.cs-about-us-bg {
    /*background-color: #b4b4b4;*/
	/*background-color: #14ff40;*/

    /* Tweak between the followings. Keep one which is voted by most*/
    /*background-color: #0066FF;*/
    /*background-color: #000033;*/
    /*background-color: #38168F;*/
    /*background-color: #41298F;*/
    background-color: #EDEDED;
}
.cs-shiny-blue {
    /*color: #0f00fb;*/
    /*color: #D0971C;*/
    color: #F6623C;
}
.cs-2rem {
    font-size: 2rem;
}
.cs-1-6rem {
    font-size: 1.6rem;
}
.cs-1-1rem {
    font-size: 1.1rem;
}
.cs-1-2rem {
    font-size: 1.2rem;
}
.cs-fw-400 {
    font-weight: 400;
}
.cs-fw-500 {
    font-weight: 500;
}
.cs-card-header {
    text-align: center;
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
    /*background-color: #f8f9fa !important;*/
    /*background-color: #354457;*/
    background-color: #282F5B;
    font-family: "Segoe UI";
}
.cs-about-us-txt {
    color: #F66222;
    font-family: sans-serif;
}
.ml-25 {
    margin-left: 25%;
}

/* Privacy Policy Page Styles */
.cs-privacy-bg {
    background-color: #A7A7A7 ;
}

/* Contact Us Page Styles */
.cs-contact-us-bg {
    background-color: #A7A7A7;
}
.cs-contact-icons {
    /*width: 128px;*/
    /*height: 128px;*/
    width: 72px;
    height: 72px;
}

/*  Styles for Registrations view page  */
.cs-players-container {
    color: #fff;
    background-color: #343a40;
    width: 45%;
    display: inline-block;
}
.cs-reg-view-span {
    display: inline-block;
    width: 100%;
}
.cs-players-container:nth-child(odd) {
    background-color: greenyellow;
}
.cs-players-container:nth-child(even) {
    background-color: forestgreen;
}



/*  UPLIFT Web app Styles  */

.temp-bg {
    background-color: #32A932 !important;
}
.cs-sign-up {
    margin-top: 0.5rem;
    border: 1px solid #99AAB5;
    margin-bottom: 0.5rem;
}
.cs-color-code {
    display: inline-block;
    min-width: 45%;
    min-height: 8vh;
    margin: 5px;
    padding: 3px;

}
@media screen and (max-width: 500px) {
    .cs-color-code {
        width: 100% !important;
        height: 5vh !important;
    }
}
.cs-min-h-50 {
    min-height: 50vh;
}
.cs-w-80 {
    width: 80% !important;
}
.cs-w-40 {
    width: 40%;
}
.cs-w-48 {
    width: 48%;
}
.cs-h-60 {
    height: 60vh;
}
.cs-w-60 {
    width: 60%;
}
.cs-w-32 {
    width: 32%;
}
.cs-w-30 {
    width: 30%;
}
.cs-tag-font {
    font-size: 1.1rem !important;
}
.cs-receiver-text {
    font-size: 1.1rem;
    font-weight: 500;
}
.cs-data-text {
    font-size: 1.1rem;
}
.cs-alert {
    width: 60%;
    margin: 5px;
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 100;
}
.nav-row {
    float: left;
    height: 115vh;
}
@media screen and (max-width: 550px) {
    .cs-mq-550 {
        width: 100% !important;
    }
}
@media screen and (max-width: 1400px) and (min-width: 770px) {
    .nav-row{
        height: 170vh;
    }
}
@media screen and (max-width: 769px) and (min-width: 250px) {
    .nav-row{
        height: 200vh;
    }
}
@media screen and (max-width: 249px) {
    .nav-row{
        height: 230vh;
    }
}
.cs-required {
    color: orangered;
    font-weight: 700;
    font-size: 1rem;
}
.cs-nav-link {
    background-color: #343A40;
    border: none;
    border-radius: 2px;
    color: #9A9DA0;
    display: -webkit-box;
    /* margin: 0; */
    width: 100%;
    padding: .5em .75em;
}
.cs-nav-link:hover {
    background-color: #f5f5f5;
    color: #363636;
}
li .text-decoration-none {
    color: #9A9DA0;
}
.cs-flex-auto {
    flex: auto;
}
/*  For some unknown reasons Chrome is is applying this query when the size is actually 50-80px less
    Like, size is 720px then query is applied while it should have been if its less than 800    */
@media screen and (max-width: 800px) and (min-width: 350px) {
    .menu {
        /* width: 100% !important; */
    }
}
.cs-panel {
    box-sizing: border-box;
    /*position: relative;*/
    /*display: inline-block;*/
    width: 70%;
     height: 40vh;
    /* margin: 1.5rem; */
    padding: 2rem;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    overflow: hidden;
    border-radius: 8px;
}
.user {
    /*background-color: #279824;*/
    background-color: #1A5556;
}
.cost {
    /*background-color: #0377C0;*/
    background-color: #709812;
}
.cs-box {
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    display: block;
    height: 30vh;
    width: 60%;
    padding: 1.25rem;
    border: 1px solid #99AAB5;
}
.cs-orange {
    border-color: #F6623C;
}
.gradient-hero {
    height: 95vh;
    width: 100%;

    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFE000, #799F0C, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.nav-not-relative {
    position: initial !important;
}

